---
layout: layout.liquid
title: comics
---

<main class="comics">
  <div class="comics__books navi">
    <h1>Tabi No Hana comics (PDF):</h1>
    <p>
      <a href="/media/Tabi_No_Hana_Book_01.pdf" target="_blank">
        A Flower for Every Time, Book 1
      </a>
    </p>
    <p>
      <a href="/media/Tabi_No_Hana_Prequel_01.pdf" target="_blank">
        A Day in Her Life, Prequel 1
      </a>
    </p>
  </div>
  <div class="comics__text uwrap">
    <p class="pp m">
      The prequel is complete (finally
      <span class="emo">😅</span>). The
      <a
        href="https://www.kickstarter.com/projects/1086577669/tabi-no-hana-issue-1-in-all-its-forms"
        target="_blank"
        rel="noreferrer">original comic</a>
      and the
      <a
        href="https://www.kickstarter.com/projects/1086577669/tabi-no-hana-the-next-adventures"
        target="_blank"
        rel="noreferrer">first graphic novel</a>
      were funded on Kickstarter. I hope to return to Tabi and to work on 
      some other comic projects. For now I manage to post illustrations
      periodically to my
      <a href="/drawings/">drawings</a>.
    </p>
  </div>
  <div class="drawings">
    {% render "navi_drawings"
      , scope: "Comics"
      , paths: paths
    %}
  </div>
</main>