<footer class="navi footer">
  <p class="m">
    all original content copyright
    <br/>
    brandon lee kitajchuk.
  </p>
  {% render "navi"
    , page: page
    , data: site.footer
    , label: "Professional Links" %}
  {% render "navi"
    , data: site.apps
    , label: "Web App Links"
    , page: page
  %}
</footer>
