<!doctype html>
<html lang="en">
  <head>
    <title>
      {% if title %}
        {{ title }} |
      {% endif %}
      {{ site.title }}
    </title>
    {% render "metadata" %}
    <link rel="stylesheet" href="/styles/global.scss" />
  </head>
  <body>
    <header class="header">
      <a
        href="/"
        {% if page.url == "/" %}
        aria-current="page"
        {% endif %}
        aria-label="Link to Home Page"
        title="Link to Home Page">
        {% render "logo" %}
      </a>
    </header>
    {% render "navi"
      , data: site.navi
      , label: "Portfolio Navigation"
      , page: page %}
    {{ content }}
    {% render "footer"
      , site: site
      , page: page %}
  </body>
</html>