.drawings {
  background-color: $grey-black;
  padding: 0 32px;

  @media (max-width: $width-mobile) {
    padding: 0 16px;
  }

  img {
    padding-bottom: 56.25%;
    width: 100%;

    &[data-imageloader="true"] {
      padding-bottom: 0;
    }

    &.landscape {
      max-width: $width-max;
    }

    &.portrait {
      max-width: $width-tablet-2;
    }
  }

  &__link {
    color: $white;
    text-align: center;
    display: block;
    line-height: 4;
    text-decoration: underline;
  }

  &__title {
    color: $white;
    text-align: center;
  }

  &__navi,
  &__title {
    padding: 96px 0;

    @media (max-width: $width-tablet-1) {
      padding: 64px 0;
    }

    @media (max-width: $width-mobile) {
      padding: 32px 0;
    }
  }
  
  &__collection {
    font-size: 0;
    margin: 0 auto;
    width: 100%;
  
    &__item {
      margin-bottom: 64px;
      display: flex;
      justify-content: center;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: $width-tablet-1) {
        margin-bottom: 32px;
      }

      @media (max-width: $width-mobile) {
        margin-bottom: 16px;
      }
    }
  }
}