.deck {
  display: flex;
  flex-wrap: wrap;

  > img {
    width: 10%;
  }
}

.ctrls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;

  button {
    color: $white;
    padding: 10px 20px;
    background-color: $pink;
    font-size: 12px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'panicsans';
  }
}