.books {
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;

  .book + .book {
    margin-top: 64px;
  }

  .book__creds {
    display: block;
  }

  .book__title {
    text-decoration: underline;
  }
}
