.books {
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  .book + .book {
    margin-top: 64px;
  }

  .book__creds {
    display: block;
  }

  .book__title {
    border-bottom: 1px solid currentcolor;
  }
}
