@use "../vars.scss";

.drawings {
  background-color: vars.$grey-black;
  padding: 0 32px;

  @media (max-width: vars.$width-mobile) {
    padding: 0 16px;
  }

  &__navi {
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
  }

  &__link {
    color: vars.$white;
    text-align: center;
    display: block;

    span {
      border-bottom: 1px solid currentcolor;
    }
  }

  &__title {
    color: vars.$white;
    text-align: center;
  }

  &__navi,
  &__title {
    padding: 96px 0;

    @media (max-width: vars.$width-tablet-1) {
      padding: 64px 0;
    }

    @media (max-width: vars.$width-mobile) {
      padding: 32px 0;
    }
  }

  &__collection {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 64px;

    @media (max-width: vars.$width-tablet-1) {
      grid-gap: 32px;
    }

    @media (max-width: vars.$width-mobile) {
      grid-gap: 16px;
    }

    &__item {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
