.nfts {
  max-width: $width-mobile;
  margin: 0 auto;

  .nft {
    display: block;
    text-align: center;
    margin-bottom: 64px;

    &__metadata {
      margin-top: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $width-tablet-1) {
      margin-bottom: 32px;
    }

    @media (max-width: $width-mobile) {
      margin-bottom: 16px;
    }
  }
}