@use "./vars.scss";

.m {
  font-size: vars.$font-small;
}

.pp {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  box-sizing: content-box;

  &.m {
    max-width: 420px;
  }
}

.emo {
  font-size: vars.$font-title;
  line-height: 1;
}
