/******************************************************************************
 * Colors
*******************************************************************************/
$black: #000;
$white: #fff;
$grey: #555;
$grey-dark: #333;
$grey-black: #111;
$green: #10ff59;
$yellow: #eefd02;
$red: #f30541;
$pink: #f26d7d;
$purple: #6441a4;
$blue: #1795d4;
$teal: #2affea;

/******************************************************************************
 * Sizes
*******************************************************************************/
$font-base: 0.875rem;
$font-small: 0.75rem;
$font-title: 1rem;
$wrap-padding: 2.2222222222vw;
$width-max: 1440px;
$width-tablet-1: 1024px;
$width-tablet-2: 768px;
$width-mobile: 640px;
$width-small: 480px;

/******************************************************************************
 * Animations
*******************************************************************************/
$anim-duration: 400ms;
$anim-ease: ease-out;
