html,
body {
  font-family: 'panicsans';
  font-size: $font-base;
  line-height: 2;
}

body {
  background-color: $white;

  &.is-retro {
    background-color: $black;
  }

  &.is-nfts {
    background-color: $black;
    color: $white;

    *:not(a) {
      color: $white;
    }
  }
}

p {
  a {
    color: $blue;
  }
}

.nfts {
  max-width: $width-mobile;
  margin: 0 auto;

  .nft {
    display: block;
    text-align: center;
    margin-bottom: 64px;

    &__metadata {
      margin-top: 32px;
      font-size: $font-small;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $width-tablet-1) {
      margin-bottom: 32px;
    }

    @media (max-width: $width-mobile) {
      margin-bottom: 16px;
    }
  }
}

.head {
  padding: 32px $wrap-padding 0;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 48px;
    width: auto;

    path {
      .is-nfts & {
        fill: $white;
      }
    }
  }
}

.navi {
  padding: 96px $wrap-padding 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__item {
    &.active {
      text-decoration: line-through;
    }
  }

  &__item + &__item {
    margin-top: 16px;
  }

  @media (max-width: $width-mobile) {
    padding-top: 48px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.books, 
.footer {
  flex-direction: column;
}

.books {
  max-width: $width-small;
  margin: 0 auto;

  &__type + &__type {
    margin-top: 64px;
  }

  .book + .book {
    margin-top: 64px;
  }

  .book__creds {
    font-size: $font-small;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  .img {
    max-width: $width-small;
    width: 100%;
  }

  .img.svg {
    width: 420px;

    @media (max-width: 420px) {
      width: 100vw;
    }
  }

  .cta {
    display: block;
    font-size: 0;
  }

  .cvs {
    max-width: $width-tablet-1;
    width: 100%;
  }
}

.anim {
  opacity: 0;
  transform: translate3d(0, 32px, 0);
  transition: opacity $anim-duration $anim-ease,
              transform $anim-duration $anim-ease;
  padding-bottom: 56.25%;

  &.is-animated {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    padding-bottom: 0;
  }
}