html,
body {
  font-family: 'panicsans';
  font-size: $font-base;
  line-height: 2;
}

body {
  background-color: $white;

  &.is-retro {
    background-color: $black;
  }
}

p {
  a {
    color: $blue;
  }
}

.head {
  padding: 32px $wrap-padding 0;
  position: relative;
  z-index: 2;

  svg {
    height: 48px;
    width: auto;
  }
}

.navi {
  padding: 96px $wrap-padding 64px;

  &__item {
    &.active {
      text-decoration: line-through;
    }
  }

  &__item + &__item {
    margin-top: 16px;
  }

  @media (max-width: $width-mobile) {
    padding-top: 48px;
    padding-bottom: 32px;
  }
}

.hero {
  img {
    max-width: $width-small;
    width: 100%;
  }

  svg {
    @media (max-width: $width-mobile) {
      height: 48px;
    }
  }
}

.anim {
  opacity: 0;
  transform: translate3d(0, 64px, 0);
  transition: opacity $anim-duration $anim-ease,
              transform $anim-duration $anim-ease;

  &.is-animated {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}