html,
body {
  font-family: 'panicsans';
  font-size: 14px;
}

body {
  background-color: $white;

  &.is-retro {
    background-color: $black;
  }
}

.head {
  padding: 32px 2.2222222222vw 0;
  position: relative;
  z-index: 2;

  svg {
    height: 48px;
    width: auto;
  }
}

.navi {
  padding: 96px 2.2222222222vw 64px;

  &__item {
    &.active {
      text-decoration: line-through;
    }
  }

  &__item + &__item {
    margin-top: 16px;
  }

  @media (max-width: $width-mobile) {
    padding-top: 48px;
    padding-bottom: 32px;
  }
}

.hero {
  img {
    max-width: 480px;
    width: 100%;
  }

  svg {
    @media (max-width: $width-mobile) {
      height: 48px;
    }
  }
}

.anim {
  opacity: 0;
  transform: translate3d(0, 64px, 0);
  transition: opacity 400ms ease-out, transform 400ms ease-out;

  &.is-animated {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}